.Options{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-top: 15px;
    @include mq(500px){
        grid-template-columns: 1fr 1fr;
    }
    &-Item{
        font-size: 10px;
        line-height: 11px;
        margin-bottom: 8px;
    }
    &-Details{
        border: 2px solid rgba(156, 156, 156,.35);
        padding: 15px;
        h2{
            margin-bottom: 15px;
        }
    }

    &-Item::before{
        content: "\2022";
        color:  rgb(255, 166, 0);
        font-weight: bold;
        display: inline-block;
        margin-right: 10px;
    }
    &-Preview{
        border: 2px solid rgba(156, 156, 156,.35);
        padding: 15px;
        p{
            margin-top: 15px;
            width: 180px;
        }
    }
}